@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4 text-info">Welcome to Greetings App</h1>

    <div class="mt-4">
        <a asp-page="/Greeting/New" class="btn btn-Info text-bold bg-info" role="button">Greet User</a>
    </div>

    <diV class="mt-5 ">

        @if (Model.Commands.Count() == 0)
        {
            <p class="display-6 ">No greeted users to display</p>

        }
        else
        {
            <table class="table table-dark table-striped-columns">
                <thead>
                    <th>Username</th>
                     <th>Last Greeted Language</th>
                    <th>Count</th>
                    <th></th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Commands)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Language</td>
                            <td>@item.Count</td>
                           
                            <td>
                                <form asp-page-handler="delete" asp-route-name="@item.Name" method="post">
                                    <button class="btn btn-danger">x</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfooter>
                    <tr>
                        <td colspan="3">
                            <p class="text text-primary h4">unique users: @Model.Commands.Count()</p>
                        </td>
                        <td>
                            <form asp-page-handler="clear" method="post">
                                <button class="btn btn-danger">Clear All</button>
                            </form>
                        </td>

                    </tr>
                </tfooter>
            </table>
        }
    </diV>
</div>
